  
  *{
    text-decoration: none;
    color: black;
    margin: 0;
  }
  .navbar
        {
    display: flex;
    width: 100%;
    align-items: center;
            background-color: rgb(136, 248, 248);
            height: 40px;
            font-size: 20px;
        }
